.ExposureStage_container{
	width: 1200px;
	margin: 0px auto;
	
}
.clickall li{
	display: inline-block;
}
.click_header{
	
}
#selectdiv{
	width:98px ;
	height: 55px;
	border-radius:10px 0px 0px 10px ;
	border:0px;
}
.click_footer{
	width: 150px;
	height: 55px;
	margin-left: -10px;
}
.click_header img, .click_footer img{
	/*vertical-align:  top;*/
	vertical-align:  bottom; 
	 display: block; 
	margin-top: 22px;
	 height: 55px;
}
.click_input{
	width:432px;
	height:55px;
}
.click_input input{
	width: 433px;
    height: 100%;
    
    margin-left: -8px;
     border: 0px; 
     border-left: 2px solid #c40311;
    padding-left: 20px;
}
.backclick{
	border-radius: 10px;
	width: 190px;
	height:75px;
	line-height: 75px;
	text-align: center;
	border:1px solid #999999;
	background: #f1f2f3;
	margin-right: 92px;
    /* position: absolute; */
    float: right;
    margin-top: 36px;
}

.backbox{
	width:670px;
	height: 50px;
	margin-top:40px;
	border: 1px solid #bfbfbf;
	border-bottom: 1px solid #c40311;
}
.redstyle{
	background: #c40311;
	color:#fff;
}
.backbox p{
	display: inline-block;
}
.cleardiv{
	width: 1200px;
	height:40px;
	background: #fff;
	margin-top:20px;
}
.project{
	position: relative;
}
.projectname{
	text-align: center;
	margin: 40px 0px;
}
#projectlist {
	width:100%;
	margin-left:0px;
}

#projectlist li{
	display: none;
	cursor: pointer;
	padding-top:10px;
	display: inline-block;
	height: 48px;
	text-align: center;
	width: 33%;
}
#layPagetext{
	width: 100%;
	text-align: center;
}
#tabledata ul li{
	display: inline-block;
}
.whitespace{
	width:660px ;
	text-overflow:ellipsis; 
	white-space:nowrap;
	display: inline-block;
	overflow: hidden;
}
.tableshu{
	margin-bottom: 20px;
}

