@charset "UTF-8";
/*=======Version-1.o======*/
/*======Author-SdL=======*/
/*=====Tim08212o18======*/
/*====ChinaServiceIndex*/
body{
	padding: 0px;
	margin: 0px;
}
*{
	font-family: Microsoft YaHei, sans-serif;	
}
a{
	outline:none;
	text-decoration: none;
}
ul{
	padding-left: 0px;
	margin:0px auto
}
p{
	margin:0px auto;
	padding:0px auto;
}
li{
	list-style: none;
}
.ontertext{
	width: 1200px;
	margin: 0px auto;
}
.font_style{
	color: #999999;
}
.font_style2{
	color:#c40311
}
.back_style{
	background: #c40311;
}
.font-size0{
	font-size:18px;
}
.font-size1{
	font-size:22px;
}
.font-size2{
	font-size:17px;
}
.font-size3{
	font-size:26px;
}
.font-size4{
	font-size:14px;
}
.font-size5{
	font-size:20px;
}
.font-size6{
	font-size: 16px;
    font-weight: 600;
}
.font-size7{
	font-size: 30px;
}
.marginstyle{
	margin-left: 40px;
}
