* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.bgindeximg {
    background: url(../img/index/index.png) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.Conterelem {
    width: 940px;
    padding: 0px 130px 20px 130px;
    text-align: center;
    background: #fff;
    height: auto;
    margin: 0px auto;
}

.titleName {
    font-size: 25px;
    font-weight: bold;
    height: 110px;
    line-height: 110px;
    margin: 0px auto;
}

.textindent {
    text-indent: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 35px;
}

.MGtop {
    margin-top: 50px;
}

#jOrgChart {
    margin: 30px 0px;
}

.detailedpeople {
    width: 94%;
    /* height: 200px; */
    background: #F0EFF5FF;
    padding: 2% 3%;
}

#chart-container {
    text-align: left;
}

/*横向结构图样式*/
.orgchart {
    height: 60px;
}

.orgchart .fristleft { /*第一个*/
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    float: none;
    margin-top: 20px;
    position: absolute;
    height: 30px;
    width: 40px;
}

.orgchart .lastleft {
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    float: none;
    margin-top: -10px;
    position: absolute;
    height: 30px;
    width: 40px;
}

.orgchart .pr {
    margin-top: -10px;
    position: absolute;
    height: 60px;
    width: 40px;
}

.orgchart td.left {
    border-left: 2px solid #000000;
    float: none;

}

.conterli {
    width: 40px;
    height: 60px;
    border-top: 2px solid #000000;
    margin-top: 28px;
}

.righttop {
    /* border-top: 2px solid rgba(217, 83, 79, .8); */
    border-top: 2px solid #000000;
    width: 40px;
    float: none;
    margin-top: 20px;
    position: absolute;
}

.orgchart td {
    text-align: center;
    vertical-align: top;
    padding: 0;
}

.orgchart .node {
    margin-left: 40px;
}

.orgchart .node .title {
    text-align: center;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(252, 198, 68);
    color: #000;
    border-radius: 3px;
    padding: 2px 20px;
}

/*领导班子样式*/
#jOrgpeople {
    margin-top: 60px;
}

.peopleconter {
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    margin: 0px auto;

}

.ojbname {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #F63333FF;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.nameclass {
    background: #F3E616FF;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

#jOrgpeople .node-container {
    padding: 0px 3.2px;
    width: 50px;
}

#jOrgpeople .node-container img {
    width: 70px;
}

#gotoindex {
    margin: 160px auto 100px auto;
    text-align: center;
}

.gotobutton {
    margin-top: 100px!important;
    cursor: pointer;
    border: 0px;
    width: 200px;
    background: #F01919FF;
    font-size: 28px;
    color: #fff;
    padding: 8px 45px;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*margin: 0 auto;*/
}

#jOrgChart .node {
    height: 50px;
    background: #FCC644;
    line-height: 23px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0 8px;
    color: #010101;
    text-align: center;
    padding: 10px 24px;
    width: 70px;
    font-size: 15px;
}

#jOrgChart .nodeactive { /*选中的样式nodeactive*/
    background: #deb34d !important;
}

#jOrgChart .nodeactive .people {
    background: #e0dede !important;
}

#jOrgChart .node .name {
    color: #010101;
}

#jOrgChart .node .people {
    width: 112px;
    margin-left: -24px;
    margin-top: 14px;
    background: #F2F2F2;
    padding: 10px 3px;
    color: #000;
}

.jOrgChart .down {
    background-color: #000;
    width: 2px;
}

.jOrgChart .top {
    border-top: 2px solid black;
}

.jOrgChart .left {
    border-right: 1px solid black;
}

.jOrgChart .right {
    border-left: 1px solid black;
}

.jOrgChart .line {
    height: 40px;
}

#jOrgChart .node:hover {
    background: #deb34d;
}

#jOrgChart .node:hover .people {
    background: #e0dede;
}

/*领导班子*/

#jOrgChart .node {
    height: 50px;
    background: #FCC644;
    line-height: 23px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0 8px;
    color: #010101;
    text-align: center;
    padding: 10px 24px;
    width: 70px;
    font-size: 15px;
}
#jOrgChart .nodeactive { /*选中的样式nodeactive*/
    background: #deb34d!important;
}
#jOrgChart .nodeactive .people{
    background: #e0dede!important;
}
#jOrgChart .node .name{
    color: #010101;
}
#jOrgChart .node .people{
    width: 112px;
    margin-left: -24px;
    margin-top: 14px;
    background: #F2F2F2;
    padding: 10px 3px;
    color: #000;
}
.jOrgChart .down {
    background-color: #000;
    width: 2px;
}
.jOrgChart .top {
    border-top: 2px solid black;
}
.jOrgChart .left {
    border-right: 1px solid black;
}
.jOrgChart .right {
    border-left: 1px solid black;
}
.jOrgChart .line {
    height: 40px;
}
#jOrgChart .node:hover{
    background: #deb34d;
}
#jOrgChart .node:hover .people{
    background: #e0dede;
}
/*领导班子*/
