@charset "utf-8";
   .headerConter{
   	     height: 80px;
	    background: url(../images/1/bg.png) repeat-y;
	    background-size: 100%;
	    position: fixed;
	    width: 100%;
	    top: 0px;
   }
   .layui-nav{
   	background:none;
   }
   .layui-nav .layui-nav-item {
	    line-height: 80px;
	}
	.layui-logo-img{
		height: 80px;
        line-height: 80px;
        display: inline-block;
	}
	#SystemName{
		float: left;
		font-size: 24px;
		color:#fff;
		letter-spacing:2px;
		margin-left: 15px;
	}
	.left_back{
		float: left;
		margin-left: 40px;
	}
	.icon_log{
		margin-top: -10px;
	}
	.layui-nav .layui-badge{
	    position: absolute;
	    top: 33%;
	    color: #000;
	    margin-left: -5px;
	}
	.layui-nav-img{
		width: 40px;
		height: 40px;
	}
	.layui-nav-child{
		top: 85px;
	}
	#mainConter{
		/*background: url(/assets/img/jcddjs/home/mainbg.png) no-repeat;*/
		background-size: 100% 100%;
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
	    background-position: center center;
	    /*background-attachment: fixed;*/
    position: absolute;
    /*top:80px;*/
}
/*删格化5等份*/
.layui-col-lg2-4,.layui-col-md2-4,.layui-col-sm2-4,.layui-col-xs2-4{position:relative;display:block;box-sizing:border-box}
.layui-col-xs2-4{float:left}
.layui-col-xs2-4{width:19.9999992%}
.layui-col-xs-offset2-4{margin-left:19.9999992%}
@media screen and (min-width:768px){
    .layui-col-sm2-4{float:left}
    .layui-col-sm2-4{width:19.9999992%}
    .layui-col-sm-offset2-4{margin-left:19.9999992%}
}
@media screen and (min-width:992px){
    .layui-col-md2-4{float:left}
    .layui-col-md2-4{width:19.9999992%}
    .layui-col-md-offset2-4{margin-left:19.9999992%}
}
@media screen and (min-width:1200px){
    .layui-col-lg2-4{float:left}
    .layui-col-lg2-4{width:19.9999992%}
    .layui-col-lg-offset2-4{margin-left:19.9999992%}
}
.tophtml, .bottomhtml{
	width:77%;
	border-radius: 6px;
	margin: 40px auto 0px auto;
	text-align: center;			
	background-color:#fff;
    filter:Alpha(opacity=50);
    background-color: rgba(255,255,255,0.5);
    -ms-background-color: rgba(255,255,255,0.5);
    -moz-background-color: rgba(255,255,255,0.5);
    -webkit-background-color: rgba(255,255,255,0.5);
    
}
.tophtml{
	height: 25%;
}
.bottomhtml{
	height: 52%;
}
.iconpng{
	width: 37%;
	margin-top: 17%;
}
.iconfont{
	color: #000;
	margin-top:20px;
    font-size: 16px;
    font-weight: 600;
}

/*左侧菜单样式*/
.layui-bg-left{
	background: #EE3E42;
}
.layui-side{
	top: 80px;
}
.icon_img{
	width: 25px;
}
