@charset "utf-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
html, body, #container {
    height: 100%
}
.input-item {
    height: 2.2rem;
}
.btn {
    width: 6rem;
    margin: 0 1rem 0 2rem;
}
.input-text {
    width: 4rem;
    margin-right: 1rem;
}
.contactusdiyou {
    position: fixed;
    right: -230px;
    bottom: 0px;
    background: #2D2B2B;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    _position: absolute;
    width: 230px;
    height: 100%;
    z-index: 99999999999;
    _margin-bottom: 0px;
 _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
    transition: all .5s ease;
}
.contactusdiyou .hoverbtn {
    width: 30px;
    height: 129px;
    padding-top: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -66px;
    left: -30px;
    font-size: 14px;
    color: #fff;
    background: #223344;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -o-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    -moz-box-shadow: -4px 4px 4px -4px #000;
    -webkit-box-shadow: -4px 4px 4px -4px #000;
    box-shadow: -4px 4px 4px -4px #000;
}
.contactusdiyou .hoverbtn span {
    width: 30px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    overflow: hidden;
    float: left;
}
.contactusdiyou .hoverbtn .hoverimg {
    width: 13px;
    height: 9px;
    margin: 10px 0px 0px 10px;
    float: left;
    display: inline;
    background-repeat: no-repeat;
}
.hoverimg2 {
    background: url(images/hoverbtnbg1.png) no-repeat;
}
.contactusdiyou .conter {
    width: 206px;
    height: 560px;
    margin-left: 15px;
    position: absolute;
    top: 35%;
 *margin-top:-140px;
    margin-top: -280px;
}
.div_any_child {
    width: 100%;
    height: 255px;
    box-shadow: -5px 0px 10px #034c6a inset, 0px -5px 10px #034c6a inset, 5px 0px 10px #034c6a inset, 0px 5px 10px #034c6a inset;
    border: 1px solid #034c6a;
    box-sizing: border-box;
    margin-top: 20px;
}
.div_any_title {
    background-color: #034c6a;
    border-radius: 18px;
    position: absolute;
    height: 35px;
    width: 60%;
    top: -15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    left: 20%;
    position: relative;
    line-height: 35px;
    text-align: center;
}
.div_any_title img {
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.p_chart {
    height: 288px;
    padding: 5px 10px;
    margin-top: 3px;
    color: white;
    font-weight: bold;
}
.topscreen {
    width: 100%;
    margin: auto auto;
    text-align: center
}
#fullscreen {
    position: fixed;
    top: 0;
    left: 45%;
    z-index: 9999999999;
    background: skyblue;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
    z-index: 11111;
}
#wrapper.toggled {
    padding-left: 370px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 370px;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -370px;
    position: absolute;
}
#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 370px;
    margin-left: -370px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
 display: none;
}
#page-content-wrapper {
    
    width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 370px;
}
.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}
.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}
.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #402d5c;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #4c366d;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #583e7e;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #64468f;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #704fa0;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #7c5aae;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #8a6cb6;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #987dbf;
}
.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}
.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 999;
}
.hamburger:hover {
    outline: none;
}
.hamburger:focus {
    outline: none;
}
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}
.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    top: 5px;
}
.hamburger.is-closed .hamb-middle {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open .hamb-middle {
    background-color: #ffffff;
    display: none;
}
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #ffffff;
    margin-top: -2px;
    top: 50%;
}
.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}
.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.footer{
	position:fixed ; bottom:0px;width:100%;height:40px;text-align: center;
}
.checklist{
	width: 600px;background: white; -moz-opacity: 0.9;
    opacity: 0.9;line-height: 40px;margin: auto auto;
}