/*
@Author:Qiu Tingyu
@Create Time: 2015-6-29 9:02
@Last Modified Time:
*/

@charset "utf-8";
*{padding: 0; margin: 0;}
img{border: none;}
ol,ul,li{list-style: none;}
a{text-decoration: none;}
body{ font-family: "微软雅黑";}


/*------------- 图片放大效果 开始 ------------------------------*/
.content-five{
    width:1000px;
    height: 412px;
    margin:20px auto;
    border: 1px solid #ccc;
    padding: 15px 25px 15px 25px;
}
.con-five{
    width: 297px;
    height: 198px;
    float: left;
    margin-right: 35px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.conimg{
    width: 297px;
    height: 198px;
}
.txt-five{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
}
.txt-five h3{
    font-weight: normal;
}
/*------------- 图片放大效果 结束------------------------------*/
